# Python virtual environments (created by uv or standard venv)
.venv/

# Scraped document snapshot
data/corpus_snapshot.json
data/chunked_corpus_recursive-500.json
data/chunked_corpus_recursive-1000.json
data/chunked_corpus_semantic.json

# Vector store indices
data/vector_stores/

# macOS files
.DS_Store

# python cache
__pycache__/
